.lobby-page {
  color: white;
  width: 100vw;
  height: 90vh;
}
.lobby-header {
  margin: 10px;
  text-align: center;
  height: 10%;
}
.lobby-header p {
  margin: 10px;
}
.lobby-body {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lobby-footer {
  text-align: center;
}
.lobby-footer button{
  width: 100px;
  height: 25px;
  color: rgb(45, 90, 136);
  border-radius: 5px;
}
ul {
  padding-inline-start: 0px;
  padding: 10px;
  list-style-type: none;
  width: 60vw;
  text-align: center;
}
